<div class="col-sm-6">
  <h3><span class="glyphicon glyphicon-edit"></span>List of current Shoe Stores</h3>
  <% if @stores.any?() %>
    <ul>
    <% @stores.each() do |store| %> <li> <a href="/stores/<%= store.id() %>"><%= store.name() %></a> || Brands:
      <% if @brands.any?() %>
        <% store.brands.each() do |brand|%>
        <%= brand.name() %>
      <% end %>
      <% end %>
      <% end %>
    </li>
    </ul>
   <% end %>



  <h2>Add a new Store</h2>
  <form action="/stores/new" method="post" class="well">
    <label for="name">Store Name</label><br>
    <input id="name" name="name" type="text">
    <button type="submit">Add Store</button>
  </form>
</div>


<div class="col-sm-6">
  <h2>Add a new Brand</h2>
  <form class="well" action="/brands" method="post">
    <label for="brand_name"><i class="em em-high_heel"></i>New Brand <i class="em em-shoe"></i></label>
    <input id="brand_name" name="brand_name" type="text">
    <button type="submit" >Add a brand!</button>
  </form>

  <form class="well" action="/add_brands_to_store" method="post">
    <input type="hidden" name="_method" value="patch">
    <h3>Which store do you want to add the shoe brand?</h3>
    <% if @brands.any?() %>
        <% @brands.each() do |brand| %>
          <div class="checkbox">
          <label>
          <input type="checkbox" name="brands_ids[]" value="<%= brand.id() %>"><%= brand.name()%>
          </label>
          </div>
        <% end %>
    <% else %>
      <h4>Add brands, please.</h4>
    <% end %>
  <div>
    <h3>Add brands to a store</h3>
    <% if @stores.any?() %>
      <select class="form-control" name="brands_in_this_store">
      <% @stores.each() do |store| %>
      <option value="<%= store.id() %>"><%= store.name() %></option>
      <% end %>
      </select>
    <% else %>
      <h4>No Stores created yet</h4>
  <% end %>
    <button type="submit" class="btn btn-lg btn-success">Add brands to store</button>
  </div>
  </form>
 </div>
